body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: #33292a;
}
@media (max-width: 576px) {
  nav {
    background-color: #644b4f;
  }
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
}
nav li {
  padding: 10px;
  list-style-type: none;
}
.blok-nav {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 17px;
  list-style-type: none;
}
.icon {
  color: #f2f2f2;
  display: none;
  width: 60px;
  height: 50px;
  padding: 8px;
  margin-left: 250px;
}
.icon img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .icon {
    display: block;
  }

  nav a {
    display: none;
  }
}

.blok-obrazek1 {
  background-image: url("images/Kopie souboru scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin-bottom: 30px;
}
.sekce-blok-obrazek1 {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.blok-obrazek1-popis {
  color: #f2f2f2;
  text-align: right;
  position: absolute;
  padding-top: 300px;
  font-size: 48px;
  width: 40%;
  right: 30px;
}
@media (max-width: 576px) {
  .blok-obrazek1-popis {
    text-align: right;
    width: 80%;
  }
}
.blok1 {
  width: 100%;
  height: 75vh;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 100px;
}
@media (max-width: 576px) {
  .blok1 {
    display: block;
  }
}
.blok1-objekty {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .blok1-objekty {
    display: block;
  }
}

.sekce-blok1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 576px) {
  .sekce-blok1 {
    display: block;
  }
}
.cast {
  width: calc(100% / 2 - 10px / 2);
}
@media (max-width: 576px) {
  .cast {
    width: 100%;
  }
}
.nadpis-blok1 {
  font-size: 24px;
}
.text1 {
  font-size: 17x;
  flex-basis: 100%;
}
.blok-obrazek-1-2 img {
  flex-basis: 100%;
}
.blok2 {
  background-color: #33292a;
  width: 100%;
  color: #fff;
  height: 70vh;
  padding-top: 100px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .blok2 {
    background-color: #33292a;
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
.blok2-conteiner {
  width: 70%;
  margin: 0 auto;
}

.sekce-blok2 {
  align-items: center;
}
.nadpis-blok2 {
  font-size: 24px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}
@media (max-width: 576px) {
  .sekce-blok2 {
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}
.text-blok2 {
  font-size: 17px;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
}
@media (max-width: 576px) {
  .text-blok2 {
    width: 100%;
    text-align: center;
  }
}
.sekce-text-blok2 {
  align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  .icons-conteiner {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
.ikonky {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .ikonky {
    display: block;
    margin-left: 100px;
  }
}
.icons-conteiner {
  padding-top: 20px;
  width: 70px;
  height: 90px;
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  .blok3 {
    display: block;
    width: 100%;
  }
}
.blok3 {
  background-color: #fff;
  width: 100%;
}
.blok-polozek3 {
  width: 70%;
  margin: 0 auto;
  background-color: rgb(248, 246, 246);
}
.obalka {
  width: calc(100% / 3 - 15px / 3);
}
.polozka {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.obalka-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .polozka {
    display: block;
  }

  .obalka {
    width: 100%;
  }
}

.blok4 {
  width: 100%;
  background-color: #644b4f;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media (max-width: 675px) {
  .blok4 {
    display: block;
    width: 100%;
  }
}
.sekce-blok4 {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .sekce-blok4 {
    display: block;
  }
}
.sekce-nadpis-blok4 {
  width: 20%;
}
.blok4-nadpis {
  text-align: left;
  font-size: 25px;
  color: #fff;
}
@media (max-width: 576px) {
  .sekce-nadpis-blok4 {
    display: block;
    width: 100%;
  }
}
.sekce-text-blok4 {
  display: block;
  width: 70%;
}
@media (max-width: 576px) {
  .sekce-text-blok4 {
    display: block;
    width: 100%;
  }
}
.text-blok4 {
  color: #fff;
  font-size: 19px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-blok4 {
  text-align: center;
  padding-top: 10px;
}
.container-blok4-info {
  font-size: 18px;
  color: #fff;
  width: 100%;
  padding-bottom: 30px;
  text-align: left;
  padding-bottom: 30px;
}
.tlacitko-blok4 {
  color: #33292a;
  font-weight: bold;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;
  width: 130px;
  padding: 10px;
  margin-top: 30px;
}
.blok5 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .blok5 {
    display: block;
  }
}
.blok5-container {
  width: 70%;
  margin: 0 auto;
}

.blok5-cast1 {
  display: block;
  font-size: 17px;
  width: 40%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 576px) {
  .blok5-cast1 {
    display: block;
    width: 100%;
  }
}

.blok5-nadpis {
  font-size: 24px;
  color: #33292a;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
@media (max-width: 576px) {
  .blok5-nadpis {
    display: block;
    width: 100%;
  }
}
.blok5-text1 {
  font-size: 17px;
  color: #33292a;
  text-align: center;
  height: 50%;
  padding-bottom: 100px;
}
@media (max-width: 576px) {
  .blok5-text1 {
    display: block;
    width: 100%;
  }
}
.blok5-cast-2-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
@media (max-width: 576px) {
  .blok5-cast-2-3 {
    display: block;
    width: 100%;
  }
}
.blok5-sekce-2-3 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 576px) {
  .blok5-sekce-2-3 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.blok5-cast-2 img {
  border-radius: 50%;
  width: 100px;
  height: 80px;
  margin-bottom: 30px;
}

.blok5-cast-2 {
  width: 45%;
  text-align: center;
}
@media (max-width: 576px) {
  .blok5-cast-2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
  }
}
.blok5-text2 {
  font-size: 17px;
  color: #33292a;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  display: block;
}
@media (max-width: 576px) {
  .blok5-text2 {
    display: block;
    width: 100%;
    padding: 30px;
  }
}
.podpis-text2 {
  font-size: 17px;
  color: #33292a;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.blok5-cast-3 {
  width: 45%;
  text-align: center;
}
@media (max-width: 576px) {
  .blok5-cast-3 {
    display: block;
    width: 100%;
    padding: 40px;
  }
}
.blok5-cast-3 img {
  border-radius: 50%;
  width: 100px;
  height: 80px;
  margin-bottom: 30px;
}

.blok5-text3 {
  font-size: 17px;
  color: #33292a;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
}
.podpis-text3 {
  font-size: 17px;
  color: #33292a;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.blok6 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  justify-content: center;
}
.blok6-polozka {
  width: calc(100% / 2);
}
@media (max-width: 576px) {
  .blok6 {
    display: block;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .blok6-polozka {
    display: block;
    width: 100%;
    margin-top: -5px;
    margin-bottom: -5px;
  }
}

.blok7 {
  background-color: #33292a;
  width: 100%;
  font-size: 18px;
  height: 124px;
  display: block;
}
@media (max-width: 576px) {
  .blok7 {
    display: block;
    text-align: center;
  }
}
.sekce-blok7 {
  width: 70%;
  margin: 0 auto;
}
.contakt-blok7 {
  text-align: center;
  color: red;
  padding-top: 30px;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .contakt-blok7 {
    text-align: center;
    width: 100%;
  }
}
.paticka-blok7 {
  color: #fff;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 17px;
}

@media (max-width: 576px) {
  .paticka-blok7 {
    text-align: center;
    font-size: 10px;
    width: 100%;
  }
}
